<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.RecommendDao">
	
	<select id="selectCntRecommend" parameterType="Recommend" resultType="int">
		SELECT count(*) FROM recommend
		WHERE userid = #{userid}
			AND regno = #{regNo}
			
	</select>

	<insert id="insertRecommend" parameterType="Recommend">
		INSERT INTO recommend
		VALUES ( #{userid}, #{regNo} )
	</insert>
	
	<delete id="deleteRecommend" parameterType="Recommend">
		DELETE recommend
		WHERE userid = #{userid}
			AND regno = #{regNo}
	</delete>
	
	<select id="selectTotalCntRecommend" parameterType="Recommend" resultType="int">
		SELECT COUNT(*) FROM recommend
	</select>
</mapper>
