<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.dao.face.RecommendDao">
  
  <select id="selectCntReportBoard" parameterType="ReportBoard" resultType="int">
  	SELECT count(*) FROM RBoard
		WHERE userid = #{userid}
			AND regno = #{regNo}
  
  </select> 
  
  <insert id="insertReportBoard" parameterType="ReportBoard">
  	INSERT INTO RBoard
  	VALUES (#{userid}, #{regNo})
  </insert>
  
  <select id="selectTotalCntReportBoard" parameterType="ReportBoard" resultType="int">
  
  	SELECT COUNT(*) FROM RBoard
  	WHERE regno = #{regNo}
  
  </select>
  
  
  </mapper>